<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}} Category</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <input type="text" class="form-control" [formControl]="name" placeholder="Enter a category name" (keydown.enter)="name.errors ? '' : save()" required>
</div>
<div class="modal-footer d-flex justify-content-between">
  <button type="button" class="btn btn-danger" (click)="delete()" [disabled]="title == 'Add'">Delete</button>
  <button type="button" class="btn btn-primary align-self-end" (click)="save()" [disabled]="name.errors">{{title == 'Add' ? 'Add' : 'Update'}}</button>
</div> 