<div class="d-flex justify-content-between" style="border-bottom: 2px solid lightgrey" margin="bottom, -1">        
    <h6 margin="left, 3" color="grey">reddit</h6>
    <div style="padding: 0px 3px;" cursorPointer color="grey">
        reddit.com/r/ <input type="text" [formControl]="subreddit" placeholder="Enter url"> 
        <div style="padding: 2px 3px 2px 20px; display: inline-block" cursorPointer color="grey" (click)="setSubreddit()">Go</div>
    </div>
</div>
<table class="table">
    <tbody>
        <tr *ngFor="let post of redditPosts | async">
            <td class="d-flex align-items-start">
                <small>
                    <span color="#00da00">{{post.ups | number}}</span>
                </small>
            </td>
            <td>
                <app-text-link [url]="post.url" [name]="post.title"></app-text-link>
            </td>
        </tr>
    </tbody>
</table>




