<div class="d-flex justify-content-between" style="border-bottom: 2px solid lightgrey" appMargin="bottom, -1">        
    <h4 appMargin="left, 3">reddit</h4>
    <div style="padding: 0px 3px;" appCursorPointer>
        reddit.com/r/ 
        <input 
            #searchInput
            type="text" 

            style="    
            width: 100px;
            border-radius: 4px;
            border: 0px;"> 
        <div style="padding: 2px 3px 2px 20px; display: inline-block" appCursorPointer color="grey" (click)="setSubreddit()">Go</div>
    </div>
</div>
<table class="table">
    <tbody>
        <tr *ngFor="let post of redditPosts | async" [@fadeInOnEnter] [@fadeOutOnLeave]>
            <td class="d-flex align-items-start">
                <small>
                    <span appColor="#00da00">{{post.ups | number}}</span>
                </small>
            </td>
            <td>
                <app-text-link [url]="post.url" [name]="post.title"></app-text-link>
            </td>
        </tr>
    </tbody>
</table>



