
<button class="btn btn-primary" (click)="openCategoryModal()" style="position: fixed; top: 20px;">Add Category</button>

<div class="row">
  <div [margin]="['bottom',60]" class="col-lg-4 col-sm-6 col-xs-12" *ngFor="let category of links; let i = index">
    <h5 [margin]="['bottom', 20]">{{category.category}}</h5>
    <button class="btn btn-default" type="button" (click)="openLinkModal(i);">+</button>
    <div class="list-group">

      <button *ngFor="let link of category.links" type="button" class="list-group-item list-group-item-action">
        <app-text-link [url]="link.url" [name]="link.name" target="_new"></app-text-link>
      </button>
    </div>
  </div>
</div>
