<ul class="list-group list-group-flush" 
    appMargin="bottom, 60" 
    appCursorPointer>
    <div class="d-flex justify-content-between" appMargin="bottom, 15" style="border-bottom: 2px solid lightgrey">        
        <h4 appMargin="left, 3" appCursorPointer>to do</h4>
        <div style="padding: 2px 3px;" appCursorPointer (click)="openModal()">Add Note</div>
    </div>
    <li 
        [@fadeInOnEnter] [@fadeOutOnLeave]
        class="list-group-item d-flex align-items-center"
        *ngFor="let note of notes; let i = index"
        (mouseenter)="note.editingRow = true"
        (mouseleave)="note.editingRow = false">
        <div>
            <mat-checkbox [checked]="note.checked" (change)="save(i, $event)"></mat-checkbox> 
            <div style="display: block;margin-left: 24px;margin-bottom: 10px;margin-top: -27px;" 
            [ngClass]="note.checked ? 'completed-task' : ''">
                {{note.note}}
            </div>
            <div style="margin-top: -11px; padding-left: 24px;">
                <span [appFontSize]="11" color="grey" [ngClass]="note.checked ? 'completed-task' : ''">{{note.date | date}}</span>
                <div style="margin-left: -4px; margin-top: -4px;">
                    <span (click)="delete(i)" class="badge align-self-end" style="font-weight: 200 !important" appCursorPointer>Remove</span>          
                    <span (click)="openModal(i)" *ngIf="!note.checked" class="badge align-self-end" style="font-weight: 200 !important" appCursorPointer>Edit</span>
                </div>
            </div>
        </div>
        <div style="position: absolute; right: 0px;">

        </div>
    </li>
    <li 
        (click)="openModal()"
        *ngIf="notes.length === 0"
        style="border: 0px !important;"
        appColor="lightgrey"
        class="list-group-item d-flex justify-content-between align-items-center">
        no notes
    </li>
</ul>


<!--  [(checked)]="note.checked" -->

